.acrdn-p {
  color: white;
}
.cntrn {
   max-width: 400px!important;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
   
  h1 {
    text-align: center;
    color: #fffefe;
  }
  label {
    display: block;
    margin: 15px 0 5px;
    color: white;
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .note {
    font-size: 0.9em;
    color: #ffffff;
  }
  .Mirabbos-header {
    margin-top: 100px;
    margin-bottom: 80px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
  }
.Mirabbos-header h3 {
  font-family: "Circular", sans-serif; ;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.022em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.Mirabbos-header p {
  font-family: "Circular", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.014em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #C8C7D8;

}
